@page
@model GodelTech.Microservices.WebAndApiCollaboration.Web.Pages.PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Protected resource was successfully retrieved</p>

<p>@Model.ProtectedResource</p>
