@page
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Unauthorized access.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<p>
    <strong>You are not authorized to get this resource.</strong>
</p>